@import "./variable";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@keyframes aloAnimation {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
.container {
  margin-top: $header-height;
}
.section-wrapper {
  width: 100%;
  height: calc(100vh - $header-height);
  display: flex;
  flex-direction: row;
  &.--reverse {
    flex-direction: row-reverse;
    .section-content::before {
      right: 0;
      left: unset;
    }
    .section-content__wrapper {
      padding: 50px 38px 30px 30px;
    }
  }
}
.section-image {
  width: 66.7777%;
  height: 100%;
  .section-image__wrapper {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.section-content {
  width: 33.3333%;
  height: 100%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-image: url("../assets/images/line-edit.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.section-content__wrapper {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding: 50px 30px 30px 38px;
  background-color: $light-bg-color;
  .section-content-title {
    h2 {
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: 700;
      color: $main-color;
      position: relative;
      text-transform: uppercase;
      &::before {
        content: "";
        width: 100%;
        height: 4px;
        background-image: url("../assets/images/title-line.png");
        background-repeat: no-repeat;
        position: absolute;
        bottom: -15px;
        left: 0;
      }
    }
  }
  .section-content-body {
    margin-top: 45px;
  }
}
