//fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

$main-font: "Roboto", sans-serif;

//color
$txt-color: #adadad;
$dark-txt-color: #333333;
$txt-white: #fff;
$main-color: #f8991e;
$dark-main-color: #8f4320;
$light-main-color: #fffead;
$dark-bg-color: #202c39;
$light-bg-color: #223548;
$light-gray-color: #f1f1f1;
$blue-color: #00ace4;
$dark-btn-color: #1a2736;

//height
$header-height: 65px;
