@import "../../stylesheets/variable";

.header-wrapper {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $dark-bg-color;
  display: flex;
  justify-content: center;
}
.header {
  max-width: 1170px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.header__left {
  width: 17%;
  .header-left-logo {
    img {
      width: 105px;
      height: auto;
    }
  }
}
.header__center {
  width: 63%;
  .header-center-list {
    display: flex;
    align-items: center;
    gap: 20px;
    .header-center-item {
      a {
        display: inline-block;
        padding: 10px 10px;
        font-size: 1.4rem;
        line-height: 1.4rem;
        color: $txt-color;
        text-transform: uppercase;
        transition: color 0.2s linear;
        position: relative;
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          visibility: hidden;
          opacity: 0;
          transition: visibility, opacity 0.2s linear;
        }
        &::before {
          width: 9px;
          height: 9px;
          border: 1px solid $main-color;
        }
        &::after {
          width: 5px;
          height: 5px;
          background-color: $main-color;
        }
      }
      &:hover a,
      &.--active a {
        color: $main-color;
        &::before,
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
      &.--active a {
        color: $main-color;
      }
    }
  }
}
.header__right {
  width: 20%;
  text-align: right;
  a {
    display: inline-flex;
    align-items: center;
    padding: 7px 30px 7px 20px;
    background-color: $dark-main-color;
    border-radius: 10px;
    .header-right-icon {
      margin-right: 12px;
      animation: aloAnimation 1s infinite;
      img {
        width: 20px;
        height: 20px;
      }
    }
    span {
      font-size: 2.2rem;
      font-weight: 700;
      color: $light-main-color;
      letter-spacing: 0.5px;
    }
  }
}
