@import "../../stylesheets/variable";

.header-wrapper {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $dark-bg-color;
  display: flex;
  justify-content: center;
}
.header {
  max-width: 1170px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.header__left {
  width: 17%;
  .header-left-logo {
    img {
      width: 105px;
      height: auto;
    }
  }
}
.header__center {
  width: 63%;
  .header-center-list {
    display: flex;
    align-items: center;
    gap: 20px;
    .header-center-item {
      a {
        display: inline-block;
        padding: 10px 10px;
        font-size: 1.4rem;
        line-height: 1.4rem;
        color: $txt-color;
        text-transform: uppercase;
        transition: color 0.2s linear;
        position: relative;
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          visibility: hidden;
          opacity: 0;
          transition: visibility, opacity 0.2s linear;
        }
        &::before {
          width: 9px;
          height: 9px;
          border: 1px solid $main-color;
        }
        &::after {
          width: 5px;
          height: 5px;
          background-color: $main-color;
        }
      }
      &:hover a,
      &.--active a {
        color: $main-color;
        &::before,
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
      &.--active a {
        color: $main-color;
      }
    }
  }
}
.header__right {
  width: 20%;
  text-align: right;
  a {
    display: inline-flex;
    align-items: center;
    padding: 7px 30px 7px 20px;
    background-color: $dark-main-color;
    border-radius: 10px;
    .header-right-icon {
      margin-right: 12px;
      animation: aloAnimation 1s infinite;
      img {
        width: 20px;
        height: 20px;
      }
    }
    span {
      font-size: 2.2rem;
      font-weight: 700;
      color: $light-main-color;
      letter-spacing: 0.5px;
    }
  }
}
.header__btn-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 34px;
  padding: 6px;
  gap: 5px;
  background-color: $main-color;
  border-radius: 5px;
  span {
    display: inline-block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: $txt-white;
    transition: transform 0.3s linear;
  }
  &.--active {
    span {
      &:first-child {
        transform: translateY(7px) rotateZ(45deg);
      }
      &:nth-child(2) {
        visibility: hidden;
      }
      &:last-child {
        transform: translateY(-9px) rotateZ(-45deg);
      }
    }
  }
}

//Responsive

//Mobile & Tablet
@media screen and (max-width: 1023px) {
  .header {
    padding: 0 15px;
  }
  .header__center {
    position: absolute;
    top: calc($header-height - 1px);
    left: 0;
    width: 100%;
    background-color: $dark-bg-color;
    height: 1px;
    transition: height 0.3s linear;
    overflow: hidden;
    &.--active {
      max-height: calc(100vh - $header-height);
      height: 100vh;
    }
  }
  .header__center .header-center-list {
    flex-direction: column;
    padding: 15px 0;
  }
  .header__right {
    width: unset;
    margin-left: auto;
    margin-right: 12px;
  }
  .header__btn-menu {
    display: inline-flex;
  }
}
//Tablet
@media screen and (min-width: 740px) and (max-width: 1023px) {
}
//Mobile
@media screen and (max-width: 739px) {
  .header__right a .header-right-icon img {
    width: 15px;
    height: 15px;
  }
  .header__right a .header-right-icon {
    margin-right: 5px;
  }
  .header__right a {
    padding: 7px 10px 7px 10px;
  }
  .header__right a span {
    font-size: 1.4rem;
  }
}

//Small Mobile
@media screen and (max-width: 500px) {
  .header__left .header-left-logo img {
    width: 90px;
  }
}
